html {
  box-sizing: border-box;
};

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --primary-color: #FCF9F9;
  --accent-color: #ECD979;
  
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  background-color: rgba(#ececec, #ECD979, #ECD979, 0.10);
  background-color: #1C2225;
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.36;
  letter-spacing: -0.04em;
  margin: 0;
}

/* .dm-sans-<uniquifier> {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
}

.container {
  max-width: 1240px;
  padding: 0 100px;  
  margin: 0 auto;
  outline: 1px solid #a4b641;
}

.title {
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
}

.section-title {
  font-size: 44px;
  line-height: 1.45;
  font-weight: 500;
  margin-bottom: 40px;
}

/* HEADER */

.header {
  margin-bottom: 100px;
}

.header__inner {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  height: 52px;
  padding-top: 25px;
}

.logo {
  margin-right: 60px;
}



/* .header__social-item {
  width: 32px;
  height: 32px;
} */

/* .header__social-icon {
  fill: var(--primary-color);
  stroke: transparent;
} */

.nav__list {
  display: flex;
  gap: 0 25px;
  font-size: 14px;
  /* margin-right: 289px; */
}

.nav__list-item {
  text-transform: uppercase;
  transition: color 300ms linear;
}

.nav__list-item:hover, .nav__list-item:focus {
  color: var(--accent-color);
  font-size: 15px;
}

.header__tel {
  border: 1px solid;
  border-color: rgba(#ececec, #ECD979, #ECD979, 0.1);
  border-radius: 15px;
  padding: 14px 28px;
  margin-left: auto;
  margin-right: 15px;
  font-size: 14px;
  transition: border-color 300ms linear;
}

.header__tel:hover, .header__tel:focus {
  border-color: var(--accent-color);
}

.header__social-list {
  display: flex;
  gap: 12px;
  margin-left: 0;
}

.header__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; 
}

.header__social-icon {
  transition: border-color 300ms linear;
}

.header__social-icon:hover {
  stroke: var(--accent-color); 
}

.header-menu {
  display: none;
}

/* HERO */

.hero {
  margin-bottom: 150px;
}

.hero__inner {
  display: flex;
  position: relative;
}


.hero__title {
  font-size: 64px;
  line-height: 1.15;
  margin-top: 66px;
  max-width: 632px;
}

.hero__title span {
  color: var(--accent-color);
}

.hero-img {
  width: 392px;
  height: 545px;
  border-radius: 4px;
  order: -1; 
  margin-right: 40px; 
}

.order-btn {
  left: 620px;
  bottom: 100px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
  padding: 0;
  border: 1px solid;
  border-color: var(--primary-color);
  border-radius: 15px;
  width: 158px;
  height: 49px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  transition: border-color 300ms linear;
}

.order-btn:hover, .order-btn:focus {
  border-color: var(--accent-color);
}

.hero-star {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 118px;
  height: 111px;
  margin-right: 0;
  margin-left: auto;
  margin-top: 66px;
}

.hero-star-img {
  width: 50px;
}

.hero-star-text {
  opacity: 40%;
  text-align: center;
} 

/* ABOUT */

.about {
  /* margin-bottom: 100px; */
  background-image: url("../images/about-bg.png");
  background-repeat: no-repeat;
  background-position: bottom -80px right;
  padding-bottom: 100px;
}

.about__inner {
  display: flex;
  align-items: center;
}

.about__title {
  margin-bottom: 40px;
}

.about__content {
  margin-right: 50px;
}

.about__text-top,
.about__text-bottom {
  opacity: 0.4;
}

.about__text-top {
  margin-bottom: 20px;
}

.about__img {
  width: 709px;
  height: 545px;
  border-radius: 4px;
}

/* COLLECTION */

.collection {
  margin-top: 60px;
  margin-bottom: 150px;
  
}

.collection__inner {
  background-size: 338px;
  background-image: url("../images/collection-bg.png");
  background-repeat: no-repeat;
  background-position: top 231px left;
}

.collection__title {
  text-align: center;
  margin-bottom: 40px;
}

.collection__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.collection__img {
  border-radius: 4px;
  margin-bottom: 18px;
  height: 100%;
}

.collection__product-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: .05em;
  margin-bottom: 8px;
}

.collection__product-price {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 5%;
  opacity: 0.4;
}

/* ORDER */

.order {
  /* background-image: url("../images/order-bg.jpg");
  background-repeat: no-repeat;
  background-position: top; */
  margin-bottom: 150px;
}

.order-bg {
  margin: 0 auto;
  max-width: 100%;
}

.order__inner {
  margin-top: 150px;
  display: flex;
}

.order__img {
  width: 524px;
  height: 100%;
  border-radius: 4px;
  margin-right: 50px;
}

.order__title {
  
}

.order__span-smallpage {
  display: none;
}

.order__span-accentcolor {
  color: var(--accent-color);
}

.order__form {
    
}

.order__input,
.order__textarea {
  width: 474px;
  background-color: transparent;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 14px 16px;
  border: 1px solid;
  border-color: rgba(252, 249, 249, 0.5);
  color: var(--primary-color);
  outline: none;
  font-size: 20px;
}

.order__input::placeholder, 
.order__textarea::placeholder {
  color: var(--primary-color);
  opacity: 0.5;
  font-size: 16px;
} 

.order__textarea::placeholder {
  font-family: "Manrope", sans-serif;
}

.order__input:focus,
.order__textarea:focus {
  border-color: var(--primary-color);
}

.order__textarea {
  height: 196px;
  margin-bottom: 40px;
  font-family: "Manrope", sans-serif;
}

.send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
  padding: 0;
  border: 1px solid;
  border-color: rgba(252, 249, 249, 0.5);
  border-radius: 15px;
  width: 158px;
  height: 49px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  transition: border-color 300ms linear;
}

.send-btn:hover, .send-btn:focus {
  border-color: var(--accent-color);
}

/* TESTIMONIALS */

.testimonials {
  margin-bottom: 150px;
}

.testimonials__title {
  margin-bottom: 74px;
}

.testimonials__list {
  display: flex;
  gap: 0 28px;
}

.testimonials__item {
  position: relative;
  border: 1px solid;
  border-radius: 4px;
  border-color: rgba(252, 249, 249, 0.1);
  padding: 54px 18px 18px 18px;
}

.testimonials__img {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%);
}

.testimonials__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
  text-align: center;
}

.testimonials__text {
  color: var(--primary-color);
  opacity: 0.4;
  text-align: center;
}

/* MEDIA */

/* 1280px */

@media (max-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 50px;
  }
   .hero__title {
    font-size: 54px;
    margin-top: 94px;
    width:auto;
  } 
  .hero-star {
    margin-top: 14px;
    padding-right: 0;
  }
  .hero-star-text {
    min-width: 115px;
  } 
  .order-btn {
    left: 600px;
    bottom: 100px;
  }
  .collection__inner {
    background-position: top 212px left -200px;
  }
  .collection__img {
    width: 380px;
  }
}

/* 1080px */

@media (max-width: 1080px) {
  .container {
    padding: 0 32px;
  }
  .logo {
    margin-right: 20px;
  }
  .header__inner {
    justify-content: space-between;
  }
  .header__tel {
    display: none;
  }
  .nav__list {
    gap: 0 15px;
  }
  .order-btn {
    left: 500px;
    bottom: 80px;
  }
  .hero-star {
    margin-left: 0;
    padding: 0;
  }
  .about {
    background-position: bottom -50px right;
  }
  .about__img {
    max-width: 594px;
    max-height: 493px;
  }
  .collection {
    margin-bottom: 100px;
  }
  .collection__img {
    width: 342px;
  }
}

/* 768px */

@media (max-width: 768px) {
  .container {
    padding: 0 32px;
  }
  .nav__list {
    display: none;
  }
  .header__tel {
    display: none;
  }
  .header__social-list {
    margin-left: auto;
    margin-right: 20px;
  } 
  .header-menu {
    display: inline-block;
    margin-right: 0;
    cursor: pointer;
  }
  .hero__inner {
    flex-wrap: wrap-reverse;    
  }
  .hero__title {
    margin-top: 0;
    margin-bottom: 136px;
    max-width: 540px;
  }
  .hero-img {
    margin: 0;
  }
  .order-btn {
    left: 200px;
    top: 220px;
  }
  .hero-star {
    margin-bottom: auto;
    margin-left: auto;
  }
  .about__inner {
    flex-direction: column;
  }
  .about__content {
    margin-right: 0;
  }
  .about__img {
    margin-top: 40px;
    max-width: 704px;
    max-height: 545px;
  }
  .collection__list {
    justify-content: center;
    gap: 20px 20px;
  }
  .collection__item {
    overflow: hidden;
    max-width: 342px;
  }
  .collection__product-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .order__inner {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 100px;
  }
  .send-btn {
    margin-bottom: 100px;
  }
  .order__input {
    max-width: 100%;
  }
  .order__img {
    width: 100%;
  }
  .testimonials__list {
    gap: 0 32px;
  }
  .testimonials {
    margin-bottom: 100px;
  }
  .testimonials__item:last-child {
    display: none;
  }  
}

/* 375px */

@media (max-width: 375px) {
  .container {
    padding: 0 20px;
  }
  .section-title {
    font-size: 32px;
    line-height: 1.37;
  }
  .header {
    margin-bottom: 84px;
  }
  .header__social-list {
    display: none;
  }
  .header__inner{
    justify-content: space-between;
  }
  .hero {
    margin-bottom: 80px;
  }
  .hero__inner {
    position: static;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.09;
    margin-bottom: 20px;
  }
  .hero__title span {
    color: var(--accent-color);
  }
  .hero-img {
    order: 1;
    width: 335px;
    height: 465px;
  }
  .order-btn {
    position: static;
    font-size: 14px;
    margin-bottom: 40px;
    margin-left: 70px;
  }
  
  .order-arrow {
    width: 26px;
    height: 30px;
  }
  .hero-star {
    display: none;
  }
  .about {
    background-size: 300px;
    background-position: bottom 60px right -120px;
    /* background-position-x: right -100%; */
  }
  .about__text-top,
  .about__text-bottom {
    font-size: 14px;
  }
  .about__img {
    width: 335px;
    height: 100%;
  }
  .collection__list {
    gap: 0;
  }
  .collection {
    margin-bottom: 80px;
  }
  .collection__img {
    width: 335px;
  }
  .collection__product-title {
    font-size: 14px;
    margin-bottom: 0;
  }
  .collection__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .collection__product-price {
    display: none;
  }
  .order__inner {
    margin-top: 80px;
  }
  .order__img {
    display: none;
  }
  .order__span-smallpage {
    display: block;
  }
  .order__span-bigpage {
    display: none;
  }
  .order__form {
    width: 100%;
  }
  .order__input {
    width: calc( 100% - 10px );
    padding: 8px;
    border-radius: 8px;
  }
  .order__textarea {
    display: none;
  }
  .send-btn {
    width: 149px;
    margin: 0 auto;
  }
  .testimonials {
    margin-bottom: 80px;
  }
  .testimonials__title {
    font-size: 32px;
    line-height: 1.37;
  }
  .testimonials__text {
    font-size: 14px;
  }
  .testimonials__item:not(:first-child) {
    display: none;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 0 20px;
  }
  .hero__inner {

  }
   .hero-img { 
    /* 1.39  */
    width: 285px; 
    height: 396px;
    /* height: min-content; */
    border-radius: 4px;
  }
  .about__img {
    width: 285px;
  }
  .collection__img {
    width: 285px;
  }
}